@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --delete: #D62626;
  --secondary: #C1F11D;
  --muted: #EAEAEA;
  --neutral: #8F8F8F;
  --placeholder: #C1C1C1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-delete: var(--delete);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-neutral: var(--neutral);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}